@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px,1fr));
  align-items: center;
  grid-gap: 1px;
  width: 100%;
  height: 150px;
  background-color: #007EF2;
  box-shadow: -1px 9px 14px 0px rgba(54,53,54,1);
}

nav a {
  font-family: 'Lobster', cursive;
  text-align: center;
  text-decoration: none;
  font-size: 2.5em;
  color:white;
}

.latest-articles {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 650px;
}

.text-lastest {
  position:absolute;
  margin: 15px 40% 0px;
  z-index:1;
  text-align: center;
  border:1px solid black;
  background:white;
  font-family: 'Lobster', cursive;
  font-size: 3em;
  border-radius: 50%;
  padding: 30px;
}

.latest-articles > * {
  flex:1;
  width: 25%;
  background:  rgb(50, 148, 240);
  color: white;
  font-family: 'Dancing Script', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.article2,
.article4 {
  background:  rgb(26, 99, 168);
}

.latest-posts {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 5px;
  width: 80%;
  margin: 20px 0 20px 10px;
}

.latest-posts > article{
  padding: 20px;
  transition: 0.2s;
}

.latest-posts > article:hover {
  box-shadow: 9px 10px 35px 0px rgba(128,128,128,1);
  transition: 0.2s;
  transform: scale(1.1); 
}

h1 {
  text-decoration: underline;
  font-size: 2.2em;
}

h3 {
  margin: 25px 40px 0 0;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center; 
}

h4 {
  margin: 25px 40px 0 0;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}

h5 {
  font-size: 1.3em;
}

.wrap-members {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 500px));
  grid-gap: 20px;
}

.members {
  background:  #007EF2;
  grid-column: span 2;
  grid-row: span 3;
  border-radius: 20px;
  margin: 10px;
}

.wrap-members > article {
  grid-column: span 1;
  grid-row: span 3;
  padding: 20px;
  transition: 0.2s;
}

.wrap-members > article:hover {
  box-shadow: 9px 10px 35px 0px rgba(128,128,128,1);
  transform: scale(1.1); 
  transition: 0.2s;
  z-index: 100;
}

.see-it-all {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-it-all a {
  font-size: 2em;
  font-family: 'Lobster', cursive;
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
  border-bottom: 5px rgb(5, 132, 182) solid;
}

.inclusive-components {
  width: 100%;
  height: 100vh;
  background:linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(26,102,184,1) 100%);
  padding: 60px;
  text-align: center;
}

.inclusive-components h2 {
  width: 50%;
  margin: 50px auto 30px;
}

.box {
  width: 25%;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  margin: 70px auto;
  padding: 10px;
}

.box a {
  padding: 10px;
  font-size: 2em;
  text-decoration: none;
  color:#333333;
}

.box a:hover {
  color: #007EF2;
}

.shade {
  border-radius: 50%;
  margin: 0 auto;
  width: 75%;
  height: 40vh;
  z-index: 1;
  background: url(images/inclusive_design_components.svg) no-repeat center;
  background-size:600px;
}

.ppl-highlights {
  width: 100%;
  margin: 50px 0;
}

.person-week, .ppl {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.photo-skew {
  margin-top: 60px;
  width: 20vh;
  height: 20vh;
  background:  rgb(50, 148, 240);
  transform: rotate(-20deg);
  transform-origin: bottom left;
  border-radius: 13px;
}

.photo-smaller {
  margin-top: 60px;
  width: 10vh;
  height: 10vh;
  margin-right: 120px;
  background:  rgb(50, 148, 240);
  transform: rotate(-20deg);
  transform-origin: bottom left;
  border-radius: 13px;
}

.photo-smaller:hover {
  transform: rotate(0deg);
  transform-origin: bottom left;
  transition: 0.2s;
}

.photo-skew:hover {
  transform: rotate(0deg);
  transform-origin: bottom left;
  transition: 0.2s;
}

.photo-description {
  width: 70%;
  margin-left: -150px;
  margin-top: 30px;
}
.ppl-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 0 0 95px;
}

.ppl {
  grid-column: span 1;
  grid-row: span 1;
  width: 80%;
  margin-top: 150px;
}

/* DESIGN SYSTEMS */

.smashing-book {
  background-color: #007EF2;
  height: 350px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
   "left right";
  grid-gap: 15px;
  align-items: center;
}

.smashing-book > *  {
  color:white;
}

.smashing-book-content {
  margin-left: 124px;
}

.smashing-book-content p, h1, a {
  padding: 20px;
}

.smashing-book-content button {
  padding: 15px;
  font-weight: 900;
  font-size: 1.3em;
  background: white;
  color: #007EF2;
  border: none;
  border-radius: 8px;
}

.book {
  margin-left: 100px;
  grid-area:right;
  align-self: center;
  justify-self: center;
  width: 170px;
  height:240px;
  background:  rgb(61, 68, 75);
  transform: rotate(-10deg);
  transform-origin: bottom left;
  border-radius: 13px;
}

.book:hover {
  transform: rotate(0deg);
  transform-origin: bottom left;
  transition: 0.2s;
}

.guides {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 15px;
  width: 95%;
  margin: 20px 0 20px 10px;
}


.guides a {
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1.5em;
}

.guides ul {
  padding-inline-start: 50px;
  line-height: 1.5em;
}

.guides > article {
  width: 80%;
  margin-left: 50px;
  margin-top: 50px;
}

.guides > article:hover {
  box-shadow: 9px 10px 35px 0px rgba(128,128,128,1);
  transform: scale(1.1); 
  transition: 0.2s;
  z-index: 100;  
}

.news-container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 100vh;
  margin: 100px auto 100px;
  border-radius: 10px;
  background-color: rgb(51, 174, 223);
  padding-top: 50px;
}

.circle {
  display: flex;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
}

.news-container > input {
  width: 20%;
  height: 60px;
  font-size: 1.5em;
}