@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px,1fr));
  align-items: center;
  grid-gap: 1px;
  width: 100%;
  height: 150px;
  background-color: #007EF2;
  box-shadow: -1px 9px 14px 0px rgba(54,53,54,1);
}

nav a {
  font-family: 'Lobster', cursive;
  text-align: center;
  text-decoration: none;
  font-size: 2.5em;
  color:white;
}

.latest-articles {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 650px;
}

.text-lastest {
  position:absolute;
  margin: 15px 40% 0px;
  z-index:1;
  text-align: center;
  border:1px solid black;
  background:white;
  font-family: 'Lobster', cursive;
  font-size: 3em;
  border-radius: 50%;
  padding: 30px;
}

.latest-articles > * {
  width: 25%;
  background:  rgb(50, 148, 240);
  color: white;
  font-family: 'Dancing Script', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.article2,
.article4 {
  background-color:rgb(0, 132, 255);
}

.latest-posts {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 5px;
  width: 80%;
  margin: 20px 0 20px 10px;
}

.latest-posts > article{
  padding: 20px;
  transition: 0.2s;
}

.latest-posts > article:hover {
  background-color: rgb(252, 244, 244);
  box-shadow: 9px 10px 35px 0px rgba(128,128,128,1);
  font-size: 1.05em;
  transition: 0.2s;
}

h1 {
  text-decoration: underline;
  font-size: 2.2em;
}

h4 {
  margin: 25px 40px 0 0;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}

.wrap-members {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 500px));
  grid-gap: 20px;
}

.members {
  background:  #007EF2;
  grid-column: span 2;
  grid-row: span 3;
  border-radius: 20px;
  margin: 10px;
}

.wrap-members > article {
  grid-column: span 1;
  grid-row: span 3;
  padding: 20px;
  transition: 0.2s;
}

.wrap-members > article:hover {
  box-shadow: 9px 10px 35px 0px rgba(128,128,128,1);
  font-size: 1.05em;
  transition: 0.2s;
}

.see-it-all {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-it-all a {
  font-size: 2em;
  font-family: 'Lobster', cursive;
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
  border-bottom: 5px blue solid;
}

.inclusive-components {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  padding: 60px;
  text-align: center;
}

.inclusive-components h2 {
  width: 50%;
  margin: 50px auto 30px;
}

.box {
  width: 25%;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  margin: 70px auto;
}

.box a {
  font-size: 2em;
  text-decoration: none;
}

.shade {
  border-radius: 50%;
  margin: 0 auto;
  width: 25%;
  height: 40vh;
  background-color: white;
  z-index: 1;
}
